*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(249, 213, 185);
}
.login-form{
    width: 80vw;
    margin: 10px 10%;
    height: 100vh;
   background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 17px 0px black;
    text-align: center;
    display: flex;
    justify-content: center;
}
.form-header h1{
    font-size: 35px;
    text-align: center;
    color: rgb(8, 8, 8);
    margin-top: 10%;
    
}
.form{
    width: 40vw;
}
.icon a i{
border: 1px solid black;
border-radius: 50%;
padding: 5px;
color: black;
font-size: 1.5rem;
margin: 7% 0;
}
.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
.inputs input{
width: 27vw;
height: 8vh;
background-color: rgb(249, 243, 243);
border: 1px solid black;
outline: none;
font-size: 1rem;
color: black;
padding: 15px;
}
.pass input{
    width: 27vw;
height: 8vh;
background-color: rgb(249, 243, 243);
border: 1px solid black;
outline: none;
font-size: 1rem;
color: black;
padding: 15px;
margin-top: 20px;
}
.text{
    margin: 17px 0;
    font-size: 1rem;

}
button{
    color: white;
    background-color: rgb(244, 77, 36);
    border: none;
    border-radius: 20px;
    width: 15vw;
    height: 5vh;
    font-size: 1rem;
    margin-bottom: 30px;
}
.des{
    width: 40vw;
    height: 100vh;
    background-color: #eb3e4c;
    background: linear-gradient(to right,#e16049,#ed616d);
    text-align: center;
}
.des h1{
    color: white;
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 20px;
    margin-top: 35%;
}
.des p{
    color: white;
    padding: 0 10%;
}